Login {
    /* La variable se reemplaza dinámicamente en Python */
    border-image: url("{{background_image_path}}") 0 0 0 0 stretch stretch;
}

#loginCard {
    background-color: rgba(255, 255, 255, 0.95);  /* Un poco transparente para mejor integración */
    border-radius: 15px;
    padding-bottom: 20px;
}

#loginCard #emojiLabel {
    font-size: 48px;
    margin-bottom: 10px;
}

#loginCard #titulo {
    font-size: 24px;
    font-weight: bold;
    color: #007acd;
    margin-bottom: 10px;
}

#loginCard #descripcion {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

#loginCard #labelEmail, #loginCard #labelPass {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

#loginCard QLineEdit {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 10px;
}

#loginCard QLineEdit:focus {
    border-color: #007acd;
    background-color: #fff;
}

#loginCard QPushButton {
    background-color: #007acd;
    color: white;
    border-radius: 8px;
    padding: 15px 20px;  /* Aumentar padding para hacer el botón más grande */
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

#loginCard QPushButton:hover {
    background-color: #005a9e;
}

#loginCard QPushButton:pressed {
    background-color: #004080;
}

#inputEmail, #inputPass {
    color: black;
}